/* https://www.youtube.com/watch?v=FMNJuSl91qY */
body, html{
  min-height: 100%;
  font-family: 'Open Sans';
}

body{
  background-color: #99a;
  background-image: linear-gradient(#bbc, #99a);
  background-repeat: no-repeat;
  margin: 20px;
}

.root{
  background-color: white;
  padding: 20px;
  border: 2px solid #999;
  border-radius: 10px;
}